body {
  font-family: Arial;
  padding: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#itemList li {
  margin-bottom: 10px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 5px;
}
